@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Raleway:300");
/* VARS DEFAULTS */
/* COLORS */
/* IMPORTS */
* {
  margin: 0;
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  line-height: 1.5;
  color: #555;
  background: #111;
  height: 100%; }

h1,
h2,
strong {
  color: #333; }

/* menu interaction without js */
#main:target {
  margin-top: 8rem;
  width: 90%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #main:target #work {
    display: none; }
  #main:target #disabled {
    cursor: default;
    color: #aaa;
    display: inline; }

/* menu icon */
#work {
  color: #666;
  position: relative;
  text-decoration: none;
  cursor: pointer; }
  #work:hover {
    color: #333; }

#disabled {
  display: none;
  position: relative;
  text-decoration: none;
  cursor: default;
  color: #aaa; }

/* menu parts */
nav {
  width: 95%;
  position: fixed;
  top: 0;
  left: 5%;
  padding-right: 5%;
  z-index: 1; }
  nav ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 8em;
    width: 100%; }
    nav ul li {
      text-align: center;
      cursor: pointer; }
      nav ul li:hover {
        opacity: 0.75;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      nav ul li:nth-child(1) i {
        color: #EFF0F1;
        background-color: #448AFF;
        text-shadow: 0px 0px #82B1FF, 1px 1px #82B1FF, 2px 2px #82B1FF, 3px 3px #82B1FF, 4px 4px #82B1FF, 5px 5px #82B1FF, 6px 6px #82B1FF, 7px 7px #82B1FF, 8px 8px #82B1FF, 9px 9px #82B1FF, 10px 10px #82B1FF, 11px 11px #82B1FF, 12px 12px #82B1FF, 13px 13px #82B1FF, 14px 14px #82B1FF, 15px 15px #82B1FF, 16px 16px #82B1FF, 17px 17px #82B1FF, 18px 18px #82B1FF, 19px 19px #82B1FF, 20px 20px #82B1FF, 21px 21px #82B1FF, 22px 22px #82B1FF, 23px 23px #82B1FF, 24px 24px #82B1FF, 25px 25px #82B1FF, 26px 26px #82B1FF, 27px 27px #82B1FF, 28px 28px #82B1FF, 29px 29px #82B1FF, 30px 30px #82B1FF, 31px 31px #82B1FF, 32px 32px #82B1FF, 33px 33px #82B1FF, 34px 34px #82B1FF, 35px 35px #82B1FF, 36px 36px #82B1FF, 37px 37px #82B1FF, 38px 38px #82B1FF, 39px 39px #82B1FF, 40px 40px #82B1FF, 41px 41px #82B1FF, 42px 42px #82B1FF, 43px 43px #82B1FF, 44px 44px #82B1FF, 45px 45px #82B1FF, 46px 46px #82B1FF, 47px 47px #82B1FF, 48px 48px #82B1FF, 49px 49px #82B1FF, 50px 50px #82B1FF, 51px 51px #82B1FF, 52px 52px #82B1FF, 53px 53px #82B1FF, 54px 54px #82B1FF, 55px 55px #82B1FF, 56px 56px #82B1FF, 57px 57px #82B1FF, 58px 58px #82B1FF, 59px 59px #82B1FF, 60px 60px #82B1FF; }
      nav ul li:nth-child(2) i {
        color: #EFF0F1;
        background-color: #FF5722;
        text-shadow: 0px 0px #FF9E80, 1px 1px #FF9E80, 2px 2px #FF9E80, 3px 3px #FF9E80, 4px 4px #FF9E80, 5px 5px #FF9E80, 6px 6px #FF9E80, 7px 7px #FF9E80, 8px 8px #FF9E80, 9px 9px #FF9E80, 10px 10px #FF9E80, 11px 11px #FF9E80, 12px 12px #FF9E80, 13px 13px #FF9E80, 14px 14px #FF9E80, 15px 15px #FF9E80, 16px 16px #FF9E80, 17px 17px #FF9E80, 18px 18px #FF9E80, 19px 19px #FF9E80, 20px 20px #FF9E80, 21px 21px #FF9E80, 22px 22px #FF9E80, 23px 23px #FF9E80, 24px 24px #FF9E80, 25px 25px #FF9E80, 26px 26px #FF9E80, 27px 27px #FF9E80, 28px 28px #FF9E80, 29px 29px #FF9E80, 30px 30px #FF9E80, 31px 31px #FF9E80, 32px 32px #FF9E80, 33px 33px #FF9E80, 34px 34px #FF9E80, 35px 35px #FF9E80, 36px 36px #FF9E80, 37px 37px #FF9E80, 38px 38px #FF9E80, 39px 39px #FF9E80, 40px 40px #FF9E80, 41px 41px #FF9E80, 42px 42px #FF9E80, 43px 43px #FF9E80, 44px 44px #FF9E80, 45px 45px #FF9E80, 46px 46px #FF9E80, 47px 47px #FF9E80, 48px 48px #FF9E80, 49px 49px #FF9E80, 50px 50px #FF9E80, 51px 51px #FF9E80, 52px 52px #FF9E80, 53px 53px #FF9E80, 54px 54px #FF9E80, 55px 55px #FF9E80, 56px 56px #FF9E80, 57px 57px #FF9E80, 58px 58px #FF9E80, 59px 59px #FF9E80, 60px 60px #FF9E80; }
      *
      nav ul li:nth-child(4) i {
        color: #EFF0F1;
        background-color: #01579B;
        text-shadow: 0px 0px #0277BD, 1px 1px #0277BD, 2px 2px #0277BD, 3px 3px #0277BD, 4px 4px #0277BD, 5px 5px #0277BD, 6px 6px #0277BD, 7px 7px #0277BD, 8px 8px #0277BD, 9px 9px #0277BD, 10px 10px #0277BD, 11px 11px #0277BD, 12px 12px #0277BD, 13px 13px #0277BD, 14px 14px #0277BD, 15px 15px #0277BD, 16px 16px #0277BD, 17px 17px #0277BD, 18px 18px #0277BD, 19px 19px #0277BD, 20px 20px #0277BD, 21px 21px #0277BD, 22px 22px #0277BD, 23px 23px #0277BD, 24px 24px #0277BD, 25px 25px #0277BD, 26px 26px #0277BD, 27px 27px #0277BD, 28px 28px #0277BD, 29px 29px #0277BD, 30px 30px #0277BD, 31px 31px #0277BD, 32px 32px #0277BD, 33px 33px #0277BD, 34px 34px #0277BD, 35px 35px #0277BD, 36px 36px #0277BD, 37px 37px #0277BD, 38px 38px #0277BD, 39px 39px #0277BD, 40px 40px #0277BD, 41px 41px #0277BD, 42px 42px #0277BD, 43px 43px #0277BD, 44px 44px #0277BD, 45px 45px #0277BD, 46px 46px #0277BD, 47px 47px #0277BD, 48px 48px #0277BD, 49px 49px #0277BD, 50px 50px #0277BD, 51px 51px #0277BD, 52px 52px #0277BD, 53px 53px #0277BD, 54px 54px #0277BD, 55px 55px #0277BD, 56px 56px #0277BD, 57px 57px #0277BD, 58px 58px #0277BD, 59px 59px #0277BD, 60px 60px #0277BD; }
      nav ul li:nth-child(5) i {
        color: #555;
        background-color: #FFEB3B;
        text-shadow: 0px 0px #FFF59D, 1px 1px #FFF59D, 2px 2px #FFF59D, 3px 3px #FFF59D, 4px 4px #FFF59D, 5px 5px #FFF59D, 6px 6px #FFF59D, 7px 7px #FFF59D, 8px 8px #FFF59D, 9px 9px #FFF59D, 10px 10px #FFF59D, 11px 11px #FFF59D, 12px 12px #FFF59D, 13px 13px #FFF59D, 14px 14px #FFF59D, 15px 15px #FFF59D, 16px 16px #FFF59D, 17px 17px #FFF59D, 18px 18px #FFF59D, 19px 19px #FFF59D, 20px 20px #FFF59D, 21px 21px #FFF59D, 22px 22px #FFF59D, 23px 23px #FFF59D, 24px 24px #FFF59D, 25px 25px #FFF59D, 26px 26px #FFF59D, 27px 27px #FFF59D, 28px 28px #FFF59D, 29px 29px #FFF59D, 30px 30px #FFF59D, 31px 31px #FFF59D, 32px 32px #FFF59D, 33px 33px #FFF59D, 34px 34px #FFF59D, 35px 35px #FFF59D, 36px 36px #FFF59D, 37px 37px #FFF59D, 38px 38px #FFF59D, 39px 39px #FFF59D, 40px 40px #FFF59D, 41px 41px #FFF59D, 42px 42px #FFF59D, 43px 43px #FFF59D, 44px 44px #FFF59D, 45px 45px #FFF59D, 46px 46px #FFF59D, 47px 47px #FFF59D, 48px 48px #FFF59D, 49px 49px #FFF59D, 50px 50px #FFF59D, 51px 51px #FFF59D, 52px 52px #FFF59D, 53px 53px #FFF59D, 54px 54px #FFF59D, 55px 55px #FFF59D, 56px 56px #FFF59D, 57px 57px #FFF59D, 58px 58px #FFF59D, 59px 59px #FFF59D, 60px 60px #FFF59D; }
      nav ul li:nth-child(6) i {
        color: #EFF0F1;
        background-color: #303F9F;
        text-shadow: 0px 0px rgba(0, 0, 0, 0), 1px 1px rgba(0, 0, 0, 0), 2px 2px rgba(0, 0, 0, 0), 3px 3px rgba(0, 0, 0, 0), 4px 4px rgba(0, 0, 0, 0), 5px 5px rgba(0, 0, 0, 0), 6px 6px rgba(0, 0, 0, 0), 7px 7px rgba(0, 0, 0, 0), 8px 8px rgba(0, 0, 0, 0), 9px 9px rgba(0, 0, 0, 0), 10px 10px rgba(0, 0, 0, 0), 11px 11px rgba(0, 0, 0, 0), 12px 12px rgba(0, 0, 0, 0), 13px 13px rgba(0, 0, 0, 0), 14px 14px rgba(0, 0, 0, 0), 15px 15px rgba(0, 0, 0, 0), 16px 16px rgba(0, 0, 0, 0), 17px 17px rgba(0, 0, 0, 0), 18px 18px rgba(0, 0, 0, 0), 19px 19px rgba(0, 0, 0, 0), 20px 20px rgba(0, 0, 0, 0), 21px 21px rgba(0, 0, 0, 0), 22px 22px rgba(0, 0, 0, 0), 23px 23px rgba(0, 0, 0, 0), 24px 24px rgba(0, 0, 0, 0), 25px 25px rgba(0, 0, 0, 0), 26px 26px rgba(0, 0, 0, 0), 27px 27px rgba(0, 0, 0, 0), 28px 28px rgba(0, 0, 0, 0), 29px 29px rgba(0, 0, 0, 0), 30px 30px rgba(0, 0, 0, 0), 31px 31px rgba(0, 0, 0, 0), 32px 32px rgba(0, 0, 0, 0), 33px 33px rgba(0, 0, 0, 0), 34px 34px rgba(0, 0, 0, 0), 35px 35px rgba(0, 0, 0, 0), 36px 36px rgba(0, 0, 0, 0), 37px 37px rgba(0, 0, 0, 0), 38px 38px rgba(0, 0, 0, 0), 39px 39px rgba(0, 0, 0, 0), 40px 40px rgba(0, 0, 0, 0), 41px 41px rgba(0, 0, 0, 0), 42px 42px rgba(0, 0, 0, 0), 43px 43px rgba(0, 0, 0, 0), 44px 44px rgba(0, 0, 0, 0), 45px 45px rgba(0, 0, 0, 0), 46px 46px rgba(0, 0, 0, 0), 47px 47px rgba(0, 0, 0, 0), 48px 48px rgba(0, 0, 0, 0), 49px 49px rgba(0, 0, 0, 0), 50px 50px rgba(0, 0, 0, 0), 51px 51px rgba(0, 0, 0, 0), 52px 52px rgba(0, 0, 0, 0), 53px 53px rgba(0, 0, 0, 0), 54px 54px rgba(0, 0, 0, 0), 55px 55px rgba(0, 0, 0, 0), 56px 56px rgba(0, 0, 0, 0), 57px 57px rgba(0, 0, 0, 0), 58px 58px rgba(0, 0, 0, 0), 59px 59px rgba(0, 0, 0, 0), 60px 60px rgba(0, 0, 0, 0); }
      nav ul li i {
        font-size: 1.5em;
        width: 2.5em;
        height: 2.5em;
        background-color: #fff;
        padding: 0.75em;
        border-radius: 50%;
        color: #000;
        display: inline-block;
        overflow: hidden;
        text-shadow: 0px 0px #999, 1px 1px #999, 2px 2px #999, 3px 3px #999, 4px 4px #999, 5px 5px #999, 6px 6px #999, 7px 7px #999, 8px 8px #999, 9px 9px #999, 10px 10px #999, 11px 11px #999, 12px 12px #999, 13px 13px #999, 14px 14px #999, 15px 15px #999, 16px 16px #999, 17px 17px #999, 18px 18px #999, 19px 19px #999, 20px 20px #999, 21px 21px #999, 22px 22px #999, 23px 23px #999, 24px 24px #999, 25px 25px #999, 26px 26px #999, 27px 27px #999, 28px 28px #999, 29px 29px #999, 30px 30px #999, 31px 31px #999, 32px 32px #999, 33px 33px #999, 34px 34px #999, 35px 35px #999, 36px 36px #999, 37px 37px #999, 38px 38px #999, 39px 39px #999, 40px 40px #999, 41px 41px #999, 42px 42px #999, 43px 43px #999, 44px 44px #999, 45px 45px #999, 46px 46px #999, 47px 47px #999, 48px 48px #999, 49px 49px #999, 50px 50px #999, 51px 51px #999, 52px 52px #999, 53px 53px #999, 54px 54px #999, 55px 55px #999, 56px 56px #999, 57px 57px #999, 58px 58px #999, 59px 59px #999, 60px 60px #999; }
      nav ul li a {
        text-decoration: none;
        color: white; }
      nav ul li p {
        line-height: 2.5; }

@media (max-width: 767px) {
  nav {
    top: 2%; }
    nav ul li {
      margin: 0 0.5rem; }

  #main:target {
    margin-top: 30vh; } }
/* core page */
#main {
  margin-top: 0;
  background: #EFF0F1;
  min-height: 95vh;
  margin: 0 auto;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
  padding: 2rem;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  #main #wrap {
    top: 1rem;
    position: relative;
    max-width: 80rem;
    min-height: 30rem;
    background-color: #E0E0E0;
    margin: 0 auto;
    border-radius: 0.3rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

@media (max-width: 767px) {
  #main {
    padding: 0; }
    #main #work {
      margin: 1rem 0 0 1rem; }
    #main #disabled {
      top: 1rem;
      margin-left: 1rem; }
    #main form {
      margin: 1rem 1rem 0 0; }
    #main:target #wrap {
      top: 2rem; }
    #main #wrap {
      max-width: 100%;
      width: 100vw; } }
footer {
  z-index: 10;
  margin: 0;
  padding: 2em 0;
  min-height: 5vh;
  background-color: #555;
  color: #EFF0F1;
  font-size: 0.8em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  footer span {
    line-height: 1;
    height: 1em;
    margin: auto 2em; }
    footer span a {
      color: #ec9491;
      text-decoration: none;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      footer span a:hover {
        color: #DD403A;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }

.popover {
  display: none; }
  .popover img {
    width: 10%; }

.popover:target {
  display: inline; }

/* scroll to top */
#return-to-top {
  padding: 0.5em;
  background-color: #29ABE2;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 25;
  color: #EFF0F1;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #return-to-top:hover {
    opacity: 0.75;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

/* Searchbar ideo and lot of code from https://codepen.io/912lab/pen/LsplC */
#main form {
  float: right;
  z-index: 20;
  position: relative; }
  #main form input {
    height: 1rem;
    outline: none;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-size: 100%;
    background: #ededed url(../search.svg) no-repeat 0.5rem center;
    background-size: 1rem;
    border: solid 1px #ccc;
    padding: 0.5rem 0.5rem 0.5rem 0.6rem;
    width: 1rem;
    color: transparent;
    cursor: pointer;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    #main form input::-webkit-search-decoration, #main form input::-webkit-search-cancel-button {
      display: none; }
    #main form input:hover {
      background-color: #fff; }
    #main form input:focus {
      width: 16rem;
      max-width: 50vw;
      padding-left: 2rem;
      color: #000;
      background-color: #fff;
      cursor: auto;
      border-color: #29ABE2;
      -webkit-box-shadow: 0 0 0.2rem rgba(100, 100, 100, 0.5);
      -moz-box-shadow: 0 0 0.2rem rgba(100, 100, 100, 0.5);
      box-shadow: 0 0 0.2rem rgba(100, 100, 100, 0.5); }

.W3C img {
  border: 0;
  width: 2rem;
  height: 1rem; }

/*# sourceMappingURL=main.css.map */
