// resets
* {
  margin: 0;
  font-family: $base-font-family;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

*, *::before, *::after { @include box-sizing(border-box) }

html, body {
  line-height: 1.5;
  background: #111;
}

h1,
h2,
h3,
h4 {
  color: $darker;
}

strong {
  color: darken($links, 20%);
}

h2::before {
  content: "#";
  margin: 0 0.1em 0 0;
  color: $primary;
}
// a {
//   color: $links;
//   text-decoration: none;
// }
