* {
  margin: 0;
  font-family: $base-font-family;
}

*, *::before, *::after { @include box-sizing(border-box) }

html, body {
  line-height: 1.5;
  color: $dark;
  background: #111;
  height: 100%;
}

h1,
h2,
strong {
  color: $darker;
}

// a {
//   color: $links;
//   text-decoration: none;
// }
