// resets
* {
  margin: 0;
  font-family: $base-font-family;
}

*, *::before, *::after { @include box-sizing(border-box) }

html, body {
  line-height: 1.5;
  background: #111;
}

h1,
h2,
h3,
h4 {
  color: $darker;
}

strong {
  color: darken($links, 20%);
}

h2::before {
  content: "#";
  margin: 0 0.1em 0 0;
  color: $primary;
}
