.carousel {
  margin-bottom: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  & .card {
    display: block;
    background-color: $light;
    border-radius: 0.3rem;
    padding: 0.5em;
    box-shadow: $box-shadow-2;
    margin: 0 auto 0.75rem auto;
    overflow: hidden;
    & a {
      color: $dark;
      text-decoration: none;
      transition: all 0.3s ease;
      &:hover {
        & h3 {
          color: #888888;
          transition: all 0.3s ease;
        }
        & img {
          opacity: 0.75;
          transition: all 0.3s ease;
        }
      }
      & h3 {
        font-family: 'Open Sans Condensed', "Helvetica", sans-serif;
        text-transform: uppercase;
        text-align: center;
      }
    }
    & p {
      color: $dark;
      &:first-of-type {
        display: inline;
        margin-left: 16%;
        position: relative;
        top: -0.5em;
        font-size: 0.85em;
        color: $links;
      }
      &:not(:first-of-type) {
        margin: 0 1em 2em 1em;
        text-align: center;
      }
      & span:first-of-type {
        font-size: 0.75em;
        position: relative;
        top: -0.25em;
      }
    }
    & img {
      transition: all 0.3s ease;
      margin: 0 15%;
      width: 70%;
      height: 52.5%;
    }
    & .initial {
      float: right;
      position: relative;
      padding-right: 16%;
      font-size: 0.75em;
      top: -0.5em;
      font-weight: bold;
      text-decoration: line-through;
      color: #888888;
    }
  }
}

@media (max-width: #{$tablet-width - 1px}) {
  .carousel .card {
    max-width: 100%;
    & p:first-of-type {
      margin-left: 6%;
      font-size: 1.1em;
    }
    & img {
      margin: 0 5%;
      width: 90%;
    }
    & .initial {
      padding-right: 6%;
    }
  }
}

@media (min-width: #{$desktop-width}) {
  .carousel .card {
    width: 30%;
    transition: all 0.5s ease;
    &:hover {
      opacity: 1;
      transition: all 0.5s ease;
      width: 35%;
    }
    &:not(:hover) {
      transition: all 0.5s ease;
      opacity: 0.5;
      width: 25%;
    }
  }
}
