footer {
  z-index: 10;
  margin: 0;
  padding: 2em 0;
  min-height: 10vh;
  background-color: $dark;
  color: $light;
  font-size: 0.8em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  & span {
    line-height: 1;
    height: 1em;
    margin: auto 2em;
    & a {
      color: lighten($links, 20%);
      text-decoration: none;
      @include transition(all 0.5s ease);
      &:hover {
        color: $links;
        @include transition(all 0.5s ease);
      }
    }
  }
}

@include phone {
  footer {
    top: 4rem;
    position: relative;
    & span {
      margin: 0.75em;
    }
  }
};
