/* Menu adapted from https://codepen.io/markmurray/pen/yyNZpz */
/* menu interaction without js */
#main:target {
  margin-top: 8rem;
  width: 90%;
  transition: all 0.3s ease;
	& #work {
    display: none;
	}
  & #disabled { // workaround because I can't use "pointer-events: none" that is not officially supported in CSS3 but will be in CSS4
    cursor: default;
    color: #aaa;
    display: inline;
  }
}

/* menu icon */
#work {
  color: #666;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #333;
  }
}
#disabled {
  display: none;
  position: relative;
  text-decoration: none;
  cursor: default;
  color: #aaa;
}

/* menu parts */
nav {
  width: 95%;
  position: fixed;
  top: 0;
	left: 5%;
	padding-right: 5%;
  z-index: 1;

  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 8em;
    width: 100%;
    li {
      text-align: center;
      cursor: pointer;
      &:hover { opacity: 0.75; transition: all 0.3s ease; }
      &:nth-child(1) i { color: $light; background-color: #448AFF; }
      &:nth-child(2) i { color: $light; background-color: #FF5722; }
      &:nth-child(4) i { color: $light; background-color: #01579B; }
      &:nth-child(5) i { color: $dark; background-color: #FFEB3B; }
      &:nth-child(6) i { color: $light; background-color: #303F9F; }

      i {
        font-size: 1.5em;
        width: 2.5em;
        height: 2.5em;
        background-color: #fff;
        padding: 0.75em;
        border-radius: 50%;
        color: #000;
        display: inline-block;
        overflow: hidden;
      }

      a {
        text-decoration: none;
        color: white;
      }

      p {
        line-height: 2.5;
      }
    }
  }
}

@media (max-width: #{$tablet-width - 1px}) {
  nav {
    top: 2%;
    & ul li {
      margin: 0 0.5rem;
    }
  }

  #main:target {
    margin-top: 30vh;
  }
}
