// ### Menu highly inspired by https://codepen.io/markmurray/pen/yyNZpz ###
/* menu interaction without js */
#main:target {
  margin-top: 8rem;
  width: 90%;
  @include transition(all 0.3s ease);
	& #work {
    display: none;
	}
  & #disabled { // workaround because I can't use "pointer-events: none" that is not officially supported in CSS3 but will be in CSS4
    cursor: default;
    color: #aaa;
    display: inline;
  }
}

/* menu icon */
#work {
  color: #666;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #333;
  }
}
#disabled {
  display: none;
  position: relative;
  text-decoration: none;
  cursor: default;
  color: #aaa;
}

/* menu parts */
nav {
  width: 95%;
  position: fixed;
  top: 0;
	left: 5%;
	padding-right: 5%;
  z-index: 1;

  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 8em;
    width: 100%;
    li {
      text-align: center;
      cursor: pointer;
      &:hover { opacity: 0.75; @include transition(all 0.3s ease); }
      &:nth-child(1) i { @include iconize($light, #448AFF, #82B1FF); }
      &:nth-child(2) i { @include iconize($light, #FF5722, #FF9E80); }*
      &:nth-child(4) i { @include iconize($light, #01579B, #0277BD); }
      &:nth-child(5) i { @include iconize($dark, #FFEB3B, #FFF59D); }
      &:nth-child(6) i { @include iconize($light, #303F9F, rgba(0,0,0,0)); }

      i {
        font-size: 1.5em;
        width: 2.5em;
        height: 2.5em;
        background-color: #fff;
        padding: 0.75em;
        border-radius: 50%;
        color: #000;
        display: inline-block;
        overflow: hidden;
        @include longshadow(#999);
      }

      a {
        text-decoration: none;
        color: white;
      }

      p {
        line-height: 2.5;
      }
    }
  }
}

@include phone {
  nav {
    top: 2%;
    & ul li {
      margin: 0 0.5rem;
    }
  }

  #main:target {
    margin-top: 37vh;
  }
};
