/* core page */
#main {
  margin-top: 0;
  background: $light;
  min-height: 90vh;
  margin: 0 auto;
  transition: all 0.3s ease;
  z-index: 10;
  padding: 2rem;
  position: relative;
  box-shadow: $box-shadow-2;

  & #wrap {
    top: 1rem;
    position: relative;
    max-width: 80rem;
    background-color: #E0E0E0;
    margin: 0 auto;
    border-radius: 0.3rem;
    box-shadow: $box-shadow-2;
    & section {
      padding: 0 1em 0.25em 1em;
      &:nth-of-type(1) { box-shadow: $box-shadow-4; }
      &:nth-of-type(2) {
        background-color: $darkbg;
        color: $light;
        border-radius: 0 0 0.3rem 0.3rem;
        & h2 {
          color: $light;
        }
      }

      & > p {
        margin: 0 0.5em;
        padding: 0.5em 0.5em 0.5em 0.6em;
        &:first-of-type {
          display: inline-block;
          border-bottom: 0.05rem solid $dark;
        }
      }
    }
  }
}

@media (max-width: #{$tablet-width - 1px}) {
  #main {
    padding: 0;
    & #work {
      margin: 1rem 0 0 2rem;
      float: left;
      z-index: 2;
    }
    & #disabled {
      margin: 1rem 0 0 2rem;
      float: left;
      z-index: 2;
    }
    & > form {
      margin: 1rem 2rem 0 0;
      float: right !important;
      left: 0 !important;
    }
    & #wrap {
      top: 4rem;
      bottom: 10rem;
      max-width: 100%;
      width: 100vw;
      text-align: justify;
    }
  }
  nav {
    left: 0;
  }
}

@media (min-width: #{$desktop-width}) {
  #main #wrap section:nth-of-type(2) {
    min-height: 25rem;
  }
}
