$tablet-width: 768px;
// $smartphone-width: 320px;
$desktop-width: 1024px;

@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin code {
  font-family: "Ubuntu Mono", monospace;
}

@mixin basic {
  font-family: $base-font-family;
}

@mixin title {
  font-family: "Open Sans Condensed", sans-serif;
}
