@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Raleway:300');

/* VARS DEFAULTS */
$base-font-family: "Raleway", "Helvetica", "Arial", sans-serif !default;
$base-font-size: 1em !default;
$shadowlength: 60;

/* COLORS */
$light: #EFF0F1 !default;
$dark: #555 !default;
$darker: #333 !default;
$links: #DD403A !default;
$primary: #29ABE2 !default;

/* IMPORTS */
@import
  "mixins",
  "parts/base",
  "parts/header",
  "parts/main",
  "parts/footer",
  "parts/popover",
  "parts/others"
;
