@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Raleway:300');

$base-font-family: "Raleway", "Helvetica", "Arial", sans-serif !default;
$base-font-size: 1em !default;
$tablet-width: 768px;
$desktop-width: 1024px;

// values from https://gist.github.com/paulmelnikow/7fcfbe4f68e5df7fe326
$box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$box-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

$light: #EFF0F1 !default;
$lightbg: #E0E0E0 !default;
$dark: #555 !default;
$darkbg: #424242 !default;
$darker: #333 !default;
$links: #DD403A !default;
$primary: #29ABE2 !default;

@import
  "parts/base",
  "parts/header",
  "parts/main",
  "parts/footer",
  "parts/popover",
  "parts/carousel",
  "parts/others",
  "parts/order",
  "parts/article",
  "parts/about",
  "parts/search",
  "parts/fontawesomeCustomMinimal"
;
